body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Все о хедере */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    padding: 15px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
nav a:hover {
    box-shadow: 0px 0px 10px #ffffff;
    background-color: white;
    color: #007bff;
}

/* main block */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

/* Фото карточка */
.photo-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-color: #333;
    color: #FFF;
    padding: 5px 20px;
}

.photo-card:hover {
    box-shadow: 0 0 20px rgba(114, 12, 92, 0.75);
}

.photo-card img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.photo-card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.photo-card h2 {
    color: #ffffff;
    padding: 10px 0;
}

.photo-card .date {
    color: #888;
    font-size: 14px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.photo-card p {
    max-width: 70%;
    color: #fff;
    margin: 5px 0;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


/* Медиа-запросы для смартфонов и планшетов */
@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
        font-size: 60%;
    }

    main {
        margin: 0 20px;
    }
    .photo-card {
        margin-top: 10px;
    }

    .photo-card-content {
        padding: 10px;
    }

    .close-btn {
        top: 10px;
        right: 10px;
    }
    
    .photo-card .date {
        font-size: 10px;
    }
    
    .photo-card p {
        font-size: 10px;
    }

    h2 {
        font-size: 20px;
    }

}